/app/build/outputs/apk/debug/app-debug.apk
/app/build/intermediates/blame/res/debug/multi-v2/debug.json
/app/build/intermediates/blame/res/debug/multi-v2/values.json
/app/build/intermediates/blame/res/debug/multi-v2/values-v21.json
/app/build/intermediates/blame/res/debug/single/debug.json
/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
/app/build/intermediates/dex_archive_input_jar_hashes/debug/out
/app/build/intermediates/res/merged/debug/values_values.arsc.flat
/app/build/intermediates/runtime_symbol_list/debug/R.txt
/app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
/app/build/intermediates/incremental/mergeDebugResources/merger.xml
/app/build/intermediates/dex/debug/mergeDexDebug/classes.dex
/app/build/intermediates/javac/debug/classes/com/example/msinotes/ui/bookmark/BookmarkFragment.class
/app/build/intermediates/javac/debug/classes/com/example/msinotes/ui/home/HomeFragment$1.class
/app/build/intermediates/javac/debug/classes/com/example/msinotes/ui/home/HomeFragment.class
/app/build/intermediates/javac/debug/classes/com/example/msinotes/ui/Search/SearchFragment.class
/app/build/intermediates/javac/debug/classes/com/example/msinotes/MainActivity.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/msinotes/ui/bookmark/BookmarkFragment.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/msinotes/ui/home/HomeFragment$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/msinotes/ui/home/HomeFragment.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/msinotes/ui/Search/SearchFragment.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/msinotes/MainActivity.dex
/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
/app/build/
