# Default ignored files
/workspace.xml
/../.gradle/6.1.1/executionHistory/executionHistory.bin
/../.gradle/6.1.1/executionHistory/executionHistory.lock
/../.gradle/6.1.1/fileHashes/fileHashes.bin
/../.gradle/6.1.1/fileHashes/fileHashes.lock
/../.gradle/6.1.1/fileHashes/resourceHashesCache.bin
/../.gradle/6.1.1/javaCompile/classAnalysis.bin
/../.gradle/6.1.1/javaCompile/jarAnalysis.bin
/../.gradle/6.1.1/javaCompile/javaCompile.lock
/../.gradle/6.1.1/javaCompile/taskHistory.bin
/../.gradle/buildOutputCleanup/buildOutputCleanup.lock
/modules/app/app.iml
/caches/build_file_checksums.ser
/../local.properties
